.tile {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: translate(-10px, -10px);
  cursor: pointer;
  transition: all 0.2s;
}
.selected {
  border-color: red;
  // box-shadow: 0 0 3px rgba(#A5606E,0.5);
}
.blue {
  background-color: #92BBCA;
}
.orange {
  background-color: #DEAC8E;
}
.red {
  background-color: #E96346;
}
.green {
  background-color: #87CAA5;
}
.pink {
  background-color: #B33F72;
}
.black {
  background-color: #271B33;
}
.grey {
  background-color: #577A86;
}

.night-mode {
  .tile {
    // box-shadow: 0px 0px 5px 4px rgba(#fff,0.5);
    &.blue {
      box-shadow: 0px 0px 5px 4px rgba(#92BBCA,0.5);
    }
    &.orange {
      box-shadow: 0px 0px 5px 4px rgba(#DEAC8E,0.5);
    }
    &.red {
      box-shadow: 0px 0px 5px 4px rgba(#E96346,0.5);
    }
    &.green {
      box-shadow: 0px 0px 5px 4px rgba(#87CAA5,0.5);
    }
    &.pink {
      box-shadow: 0px 0px 5px 4px rgba(#B33F72,0.5);
    }
    &.black {      
      box-shadow: 0px 0px 5px 4px rgba(#fff,0.5);
    }
    &.grey {
      box-shadow: 0px 0px 5px 4px rgba(#577A86,0.5);
    }
  }
}